component/core/src/main/java/org/exoplatform/services/portletcontainer/pci/model/conf.xml

<?xml version="1.0" encoding="UTF-8"?> 
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Stefan Hepper (IBM Entwicklung GmbH) --> 
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:portlet="http://java.sun.com/xml/ns/portlet/portlet-app_2_0.xsd" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://java.sun.com/xml/ns/portlet/portlet-
app_2_0.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" 
xml:lang="en"> 
 <annotation> 
  <documentation> 
  is the XML Schema for the Portlet 2.0 deployment descriptor. 
  </documentation> 
 </annotation> 
 <annotation> 
  <documentation>
  following conventions apply to all J2EE 
  descriptor elements unless indicated otherwise. 
    In elements that specify a pathname to a file within the 
     same JAR file, relative filenames (i.e., those not 
     starting with "/") are considered relative to the root of 
     the JAR file's namespace.  Absolute filenames (i.e., those 
     starting with "/") also specify names in the root of the 
     JAR file's namespace.  In general, relative names are 
     preferred.  The exception is .war files where absolute 
     names are preferred for consistency with the Servlet API. 
  </documentation> 
 </annotation> 
  <!-- *********************************************************** --> 
<import namespace="http://www.w3.org/XML/1998/namespace"
schemaLocation="http://www.w3.org/2001/xml.xsd"/> 
 <element name="portlet-app" type="portlet:portlet-appType"> 
  <annotation> 
   <documentation> 
    portlet-app element is the root of the deployment descriptor 
    a portlet application. This element has a required attribute version 
    specify to which version of the schema the deployment descriptor 
  . 
   </documentation> 
  </annotation> 
  <unique name="portlet-name-uniqueness"> 
   <annotation> 
    <documentation> 
      portlet element contains the name of a portlet. 
      name must be unique within the portlet application. 
    </documentation> 
   </annotation>
   <selector xpath="portlet:portlet"/> 
   <field xpath="portlet:portlet-name"/> 
  </unique> 
  <unique name="custom-portlet-mode-uniqueness"> 
   <annotation> 
    <documentation> 
   custom-portlet-mode element contains the portlet-mode. 
      portlet mode must be unique within the portlet application. 
    </documentation> 
   </annotation> 
   <selector xpath="portlet:custom-portlet-mode"/> 
   <field xpath="portlet:portlet-mode"/> 
  </unique> 
  <unique name="custom-window-state-uniqueness"> 
   <annotation> 
    <documentation> 
   custom-window-state element contains the window-state. 
      window state must be unique within the portlet application. 
    </documentation> 
   </annotation> 
   <selector xpath="portlet:custom-window-state"/> 
   <field xpath="portlet:window-state"/> 
  </unique> 
  <unique name="user-attribute-name-uniqueness"> 
   <annotation> 
    <documentation> 
      user-attribute element contains the name the attribute. 
      name must be unique within the portlet application. 
    </documentation> 
   </annotation> 
   <selector xpath="portlet:user-attribute"/>
   <field xpath="portlet:name"/> 
  </unique> 
 </element> 
 <complexType name="portlet-appType"> 
  <sequence> 
   <element name="portlet" type="portlet:portletType" minOccurs="0" maxOccurs="unbounded"> 
    <unique name="init-param-name-uniqueness"> 
     <annotation> 
      <documentation> 
          init-param element contains the name the attribute. 
          name must be unique within the portlet. 
      </documentation> 
     </annotation> 
     <selector xpath="portlet:init-param"/> 
     <field xpath="portlet:name"/> 
    </unique> 
    <unique name="supports-mime-type-uniqueness"> 
     <annotation> 
      <documentation> 
     supports element contains the supported mime-type. 
          mime type must be unique within the portlet. 
      </documentation> 
     </annotation> 
     <selector xpath="portlet:supports"/> 
     <field xpath="mime-type"/> 
    </unique> 
    <unique name="preference-name-uniqueness"> 
     <annotation> 
      <documentation> 
     preference element contains the name the preference.
          name must be unique within the portlet. 
      </documentation> 
     </annotation> 
     <selector xpath="portlet:portlet-preferences/portlet:preference"/> 
     <field xpath="portlet:name"/> 
    </unique> 
    <unique name="security-role-ref-name-uniqueness"> 
     <annotation> 
      <documentation> 
     security-role-ref element contains the role-name. 
          role name must be unique within the portlet. 
      </documentation> 
     </annotation> 
     <selector xpath="portlet:security-role-ref"/> 
     <field xpath="portlet:role-name"/> 
    </unique> 
   </element> 
   <element name="custom-portlet-mode" type="portlet:custom-portlet-modeType" 
minOccurs="0" maxOccurs="unbounded"/> 
   <element name="custom-window-state" type="portlet:custom-window-stateType" 
minOccurs="0" maxOccurs="unbounded"/> 
   <element name="user-attribute" type="portlet:user-attributeType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="security-constraint" type="portlet:security-constraintType" 
minOccurs="0" maxOccurs="unbounded"/> 
   <element name="event-definition" type="portlet:event-definitionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="shared-application-session-attribute" type="portlet:shared-session-
attributeType" minOccurs="0" maxOccurs="unbounded"/> 
   <element name="shared-render-parameter" type="portlet:shared-render-parameterType" 
minOccurs="0" maxOccurs="unbounded"/> 
  </sequence> 
    <attribute name="version" type="string" use="required"/> 
    <attribute name="id" type="string" use="optional"/>
 </complexType> 
 <complexType name="custom-portlet-modeType"> 
  <annotation> 
   <documentation> 
    custom portlet mode that one or more portlets in  
    portlet application supports. 
  in: portlet-app 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="portlet-mode" type="portlet:portlet-modeType"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="custom-window-stateType"> 
  <annotation> 
   <documentation> 
    custom window state that one or more portlets in this  
  application supports. 
  in: portlet-app 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="window-state" type="portlet:window-stateType"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="expiration-cacheType">
  <annotation> 
   <documentation> 
    cache defines expiration-based caching for this 
    . The parameter indicates 
    time in seconds after which the portlet output expires.  
      indicates that the output never expires. 
  in: portlet 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="int"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="init-paramType"> 
  <annotation> 
   <documentation> 
    init-param element contains a name/value pair as an  
    param of the portlet 
  in:portlet 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="name" type="portlet:nameType"/> 
   <element name="value" type="portlet:valueType"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="keywordsType"> 
  <annotation>
   <documentation> 
    specific keywords associated with this portlet. 
    kewords are separated by commas. 
  in: portlet-info 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="mime-typeType"> 
  <annotation> 
   <documentation> 
    type name, e.g. "text/html". 
    MIME type may also contain the wildcard 
    '*', like "text/*" or "*/*". 
  in: supports 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="nameType"> 
  <annotation> 
   <documentation> 
    name element contains the name of a parameter.  
  in: init-param, ... 
   </documentation> 
  </annotation> 
  <simpleContent>
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="portletType"> 
  <annotation> 
   <documentation> 
    portlet element contains the declarative data of a portlet.  
  in: portlet-app 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="portlet-name" type="portlet:portlet-nameType"/> 
   <element name="display-name" type="portlet:display-nameType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="portlet-class" type="portlet:portlet-classType"/> 
   <element name="init-param" type="portlet:init-paramType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="expiration-cache" type="portlet:expiration-cacheType" 
minOccurs="0"/> 
   <element name="supports" type="portlet:supportsType" maxOccurs="unbounded"/> 
   <element name="supported-locale" type="portlet:supported-localeType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <choice> 
    <sequence> 
     <element name="resource-bundle" type="portlet:resource-
bundleType"/> 
     <element name="portlet-info" type="portlet:portlet-infoType" 
minOccurs="0"/> 
    </sequence> 
    <element name="portlet-info" type="portlet:portlet-infoType"/> 
   </choice> 
   <element name="portlet-preferences" type="portlet:portlet-preferencesType" 
minOccurs="0"/>
      <element name="security-role-ref" type="portlet:security-role-refType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="supported-processing-event" type="portlet:nameType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="supported-publishing-event" type="portlet:nameType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="supported-shared-render-parameter" type="portlet:nameType" 
minOccurs="0" maxOccurs="unbounded"/> 
   <element name="shared-portlet-session-attribute" type="portlet:shared-session-
attributeType" minOccurs="0" maxOccurs="unbounded"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <simpleType name="portlet-classType"> 
  <annotation> 
   <documentation> 
      The portlet-class element contains the fully 
      qualified class name of the portlet. 
  in: portlet 
   </documentation> 
  </annotation> 
  <restriction base="portlet:fully-qualified-classType"/> 
 </simpleType> 
 <complexType name="portlet-collectionType"> 
  <annotation> 
   <documentation> 
  portlet-collectionType is used to identify a subset 
    portlets within a portlet application to which a  
  constraint applies. 
  in: security-constraint 
   </documentation> 
  </annotation> 
  <sequence>
   <element name="portlet-name"  type="portlet:portlet-nameType" 
maxOccurs="unbounded"/> 
  </sequence> 
 </complexType> 
 <complexType name="event-definitionType"> 
  <annotation> 
   <documentation> 
    event-definitionType is used to declare events the portlet can either 
  or emit. 
    first name element is treated as prefered name and must be the one the  
    is using in its code for referencing this event. 
  in: portlet-app 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="name" type="portlet:nameType" maxOccurs="unbounded"/> 
   <choice> 
    <sequence> 
     <element name="xml-schema" type="string"/> 
     <element name="jaxb-mapping" type="string" minOccurs="0"/> 
    </sequence> 
    <element name="java-class" type="portlet:fully-qualified-classType"/> 
   </choice> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="portlet-infoType"> 
  <sequence> 
   <element name="title" type="portlet:titleType"/> 
      <element name="short-title" type="portlet:short-titleType" minOccurs="0"/>
   <element name="keywords" type="portlet:keywordsType" minOccurs="0"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="portlet-modeType"> 
  <annotation> 
   <documentation> 
    modes. The specification pre-defines the following values  
    valid portlet mode constants:  
   "edit", "help", "view". 
    mode names are not case sensitive. 
  in: custom-portlet-mode, supports 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="portlet-nameType"> 
  <annotation> 
   <documentation> 
  portlet-name element contains the canonical name of the  
    . Each portlet name is unique within the portlet  
  . 
    in: portlet, portlet-mapping 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType>
 <complexType name="portlet-preferencesType"> 
  <annotation> 
   <documentation> 
    persistent preference store. 
  in: portlet 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="preference" type="portlet:preferenceType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="preferences-validator" type="portlet:preferences-validatorType" 
minOccurs="0"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="preferenceType"> 
  <annotation> 
   <documentation> 
    preference values that may be used for customization  
  personalization by the portlet. 
  in: portlet-preferences 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="name" type="portlet:nameType"/> 
   <element name="value" type="portlet:valueType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="read-only" type="portlet:read-onlyType" minOccurs="0"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <simpleType name="preferences-validatorType">
  <annotation> 
   <documentation> 
    class specified under preferences-validator implements 
    PreferencesValidator interface to validate the  
  settings. 
  in: portlet-preferences 
   </documentation> 
  </annotation> 
  <restriction base="portlet:fully-qualified-classType"/> 
 </simpleType> 
 <simpleType name="read-onlyType"> 
  <annotation> 
   <documentation> 
    only indicates that a setting cannot 
    changed in any of the standard portlet modes  
   ("view","edit" or "help"). 
    default all preferences are modifiable. 
  values are:  
   true for read-only 
   false for modifiable 
  in: preferences 
   </documentation> 
  </annotation> 
  <restriction base="portlet:string"> 
   <enumeration value="true"/> 
   <enumeration value="false"/> 
  </restriction> 
 </simpleType> 
 <complexType name="resource-bundleType"> 
  <annotation> 
   <documentation>
    of the resource bundle containing the language specific  
    informations in different languages. 
  in: portlet-info 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="role-linkType"> 
  <annotation> 
   <documentation> 
    role-link element is a reference to a defined security role.  
    role-link element must contain the name of one of the  
    roles defined in the security-role elements. 
  in: security-role-ref 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="security-constraintType"> 
  <annotation> 
   <documentation> 
    security-constraintType is used to associate 
    security constraints with one or more portlets. 
  in: portlet-app 
   </documentation> 
  </annotation> 
  <sequence>
   <element name="display-name" type="portlet:display-nameType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="portlet-collection" type="portlet:portlet-collectionType"/> 
   <element name="user-data-constraint" type="portlet:user-data-constraintType"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="security-role-refType"> 
  <annotation> 
   <documentation> 
    security-role-ref element contains the declaration of a  
    role reference in the code of the web application. The  
    consists of an optional description, the security  
    name used in the code, and an optional link to a security  
    . If the security role is not specified, the Deployer must  
    an appropriate security role. 
    value of the role name element must be the String used  
    the parameter to the  
  .isCallerInRole(String roleName) method 
  the HttpServletRequest.isUserInRole(String role) method. 
  in: portlet 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="role-name" type="portlet:role-nameType"/> 
   <element name="role-link" type="portlet:role-linkType" minOccurs="0"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="shared-render-parameterType">
  <annotation> 
   <documentation> 
    shared-render-parameters defines a render parameter that is allowed to be shared 
  other portlets. 
  in: portlet-app 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="name" type="portlet:nameType" maxOccurs="unbounded"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="shared-session-attributeType"> 
  <annotation> 
   <documentation> 
    shared-session-attribute defines an attribute that is allowed to be shared 
    the current web application. The attribute to be shared can be either 
    application scoped session attribute or a portlet scoped session attribute. 
    application scoped session attribute is defined on the portlet-app level 
  the shared-application-session-attribute. The portlet scoped session 
    is defined on the portlet level via the shared-portlet-session-attribute. 
    in: portlet-app, portlet 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="name" type="portlet:nameType" maxOccurs="unbounded"/> 
   <choice> 
    <sequence>
     <element name="xml-schema" type="string"/> 
     <element name="jaxb-mapping" type="string" minOccurs="0"/> 
    </sequence> 
    <element name="java-class" type="portlet:fully-qualified-classType"/> 
   </choice> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="short-titleType"> 
  <annotation> 
   <documentation> 
    specific short version of the static title. 
  in: portlet-info 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="supportsType"> 
  <annotation> 
   <documentation> 
    indicates the portlet modes a  
    supports for a specific content type. All portlets must  
    the view mode.  
  in: portlet 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="mime-type" type="portlet:mime-typeType"/>
   <element name="portlet-mode" type="portlet:portlet-modeType" minOccurs="0" 
maxOccurs="unbounded"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="supported-localeType"> 
  <annotation> 
   <documentation> 
    the locales the portlet supports. 
  in: portlet 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="titleType"> 
  <annotation> 
   <documentation> 
    specific static title for this portlet. 
  in: portlet-info 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <simpleType name="transport-guaranteeType"> 
  <annotation> 
   <documentation> 
    transport-guaranteeType specifies that 
  communication between client and portlet should  
    NONE, INTEGRAL, or CONFIDENTIAL.  
    means that the portlet does not 
    any transport guarantees. A value of  
    means that the portlet requires that the  
    sent between the client and portlet be sent in  
    a way that it can't be changed in transit.  
    means that the portlet requires  
    the data be transmitted in a fashion that 
    other entities from observing the contents  
  the transmission.  
    most cases, the presence of the INTEGRAL or 
    flag will indicate that the use  
    SSL is required. 
  in: user-data-constraint 
   </documentation> 
  </annotation> 
  <restriction base="portlet:string"> 
   <enumeration value="NONE"/> 
   <enumeration value="INTEGRAL"/> 
   <enumeration value="CONFIDENTIAL"/> 
  </restriction> 
 </simpleType> 
 <complexType name="user-attributeType"> 
  <annotation> 
   <documentation> 
    attribute defines a user specific attribute that the 
    application needs. The portlet within this application  
    access this attribute via the request parameter USER_INFO 
  . 
  in: portlet-app
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="name" type="portlet:nameType"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="user-data-constraintType"> 
  <annotation> 
   <documentation> 
  user-data-constraintType is used to indicate how 
    communicated between the client and portlet should be 
  . 
  in: security-constraint 
   </documentation> 
  </annotation> 
  <sequence> 
   <element name="description" type="portlet:descriptionType" minOccurs="0" 
maxOccurs="unbounded"/> 
   <element name="transport-guarantee" type="portlet:transport-guaranteeType"/> 
  </sequence> 
    <attribute name="id" type="string" use="optional"/> 
 </complexType> 
 <complexType name="valueType"> 
  <annotation> 
   <documentation> 
    value element contains the value of a parameter. 
  in: init-param 
   </documentation> 
  </annotation>
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
 <complexType name="window-stateType"> 
  <annotation> 
   <documentation> 
    window state. Window state names are not case sensitive. 
  in: custom-window-state 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"/> 
  </simpleContent> 
 </complexType> 
  <!--- everything below is copied from j2ee_1_4.xsd --> 
 <complexType name="descriptionType"> 
  <annotation> 
   <documentation> 
    description element is used to provide text describing the  
  element. The description element should include any  
    that the portlet application war file producer wants 
    provide to the consumer of the portlet application war file  
      (i.e., to the Deployer). Typically, the tools used by the  
    application war file consumer will display the  
    when processing the parent element that contains the  
    . It has an optional attribute xml:lang to indicate  
    language is used in the description according to  
    1766 (http://www.ietf.org/rfc/rfc1766.txt). The default 
    of this attribute is English("en"). 
    in: init-param, portlet, portlet-app, security-role
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="string"> 
    <attribute ref="xml:lang"/> 
   </extension> 
  </simpleContent> 
 </complexType> 
 <complexType name="display-nameType"> 
  <annotation> 
   <documentation> 
    display-name type contains a short name that is intended 
    be displayed by tools. It is used by display-name 
    .  The display name need not be unique. 
  : 
    ... 
    <display-name xml:lang="en">Employee Self Service</display-name> 
 
    has an optional attribute xml:lang to indicate  
    language is used in the description according to  
    1766 (http://www.ietf.org/rfc/rfc1766.txt). The default 
    of this attribute is English("en"). 
   </documentation> 
  </annotation> 
  <simpleContent> 
   <extension base="portlet:string"> 
    <attribute ref="xml:lang"/> 
   </extension> 
  </simpleContent> 
 </complexType> 
 <simpleType name="fully-qualified-classType">
  <annotation> 
   <documentation> 
    elements that use this type designate the name of a 
  class or interface. 
   </documentation> 
  </annotation> 
  <restriction base="portlet:string"/> 
 </simpleType> 
 <simpleType name="role-nameType"> 
  <annotation> 
   <documentation> 
    role-nameType designates the name of a security role. 
 
    name must conform to the lexical rules for an NMTOKEN. 
   </documentation> 
  </annotation> 
  <restriction base="NMTOKEN"/> 
 </simpleType> 
 <simpleType name="string"> 
  <annotation> 
   <documentation> 
    is a special string datatype that is defined by J2EE  
    a base type for defining collapsed strings. When  
    require trailing/leading space elimination as  
    as collapsing the existing whitespace, this base  
    may be used. 
   </documentation> 
  </annotation> 
  <restriction base="string"> 
   <whiteSpace value="collapse"/> 
  </restriction>
 </simpleType> 
</schema>
